# 项目：整理Netflix电影演员评分数据

## 分析目标

此数据分析的目的是，整理不同流派影视作品，比如喜剧片、动作片、科幻片中，各演员出演作品的平均IMDB评分，从而挖掘出各个流派中的高评分作品演员。

本实战项目的目的在于练习整理数据，从而得到可供下一步分析的数据。

## 简介

原始数据集记录了截止至2022年7月美国地区可观看的所有Netflix电视剧及电影数据。数据集包含两个数据表：`titles.csv`和`credits.csv`。

`titles.csv`包含电影及电视剧相关信息，包括影视作品ID、标题、类型、描述、流派、IMDB（一个国外的在线评分网站）评分，等等。`credits.csv`包含超过7万名出现在Netflix影视作品的导演及演员信息，包括名字、影视作品ID、人物名、演职员类型（导演/演员）等。

`titles.csv`每列的含义如下：
- id：影视作品ID。
- title：影视作品标题。
- show_type：作品类型，电视节目或电影。
- description：简短描述。
- release_year：发布年份。
- age_certification：适龄认证。
- runtime：每集电视剧或电影的长度。
- genres：流派类型列表。
- production_countries：出品国家列表。
- seasons：如果是电视剧，则是季数。
- imdb_id：IMDB的ID。
- imdb_score：IMDB的评分。
- imdb_votes：IMDB的投票数。
- tmdb_popularity：TMDB的流行度。
- tmdb_score：TMDB的评分。

`credits.csv`每列的含义如下：
- person_ID：演职员ID。
- id：参与的影视作品ID。
- name：姓名。
- character_name：角色姓名。
- role：演职员类型，演员或导演。

## **导入数据**

In [1]:
import pandas as pd
import numpy as np

In [2]:
credits = pd.read_csv("./credits.csv")
titles = pd.read_csv("./titles.csv")

**一、结构调整**

In [3]:
credits.sample(20)

       person_id         id                 name           character      role
60167      55521   tm463038  Gabriela Tagliavini                 NaN  DIRECTOR
19262       4461    ts20238            Zhang Han           Feng Teng     ACTOR
35229     823507   tm326624       Samuel Bearman             Himself     ACTOR
60935    2026940  tm1013697                 Waje                 NaN     ACTOR
40944    1800886   tm413418      Abhijeet Chavan               Shyam     ACTOR
49992       3464   tm463385         Alec Baldwin       John DeLorean     ACTOR
41649      12400   tm444564    Mónica del Carmen      Laura González     ACTOR
58966    2385251   tm845850        Sara Montalvo                 NaN     ACTOR
63419    1817506   tm888850     Mizuki Kayashima       Kawahara Risa     ACTOR
60312    1341231   tm501222         Beto Mendoza  Public Official #2     ACTOR
7295      378136    ts30356        Rob Rackstraw                 NaN     ACTOR
39815     238067   tm408871          Teo Planell               Diego     ACTOR
8150       18307    tm78671         Renny Harlin                 NaN  DIRECTOR
4437     2406232   tm210754          Figen Evren               Sürme     ACTOR
69119       9685   tm993670        Adelaide Kane        Fiona Ardene     ACTOR
24157      39327   tm271070          David Torok    Viking Barbarian     ACTOR
35249     707992    ts53399            Zhu Xudan             Xuan Nu     ACTOR
68094       5277   tm413169    Elizabeth Debicki       Mopsy (voice)     ACTOR
12979       2310    tm32982        Paul Thornley         Constable 1     ACTOR
28690      86497   tm288010       Aaron McCusker    Captain Reynolds     ACTOR

`credits`表结构没问题

In [4]:
titles.sample(20)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
4686,tm824566,Ibrahim: A Fate to Define,MOVIE,"In this provocative and personal documentary, ...",2019,NaN,75,['documentation'],"['PS', 'DK', 'LB']",NaN,tt10777716,7.4,31.0,1.121,NaN
1327,ts37804,W/ Bob & David,SHOW,After being dishonorably discharged from the N...,2015,TV-MA,35,['comedy'],['US'],1.0,tt4574708,7.4,4160.0,4.117,6.800
3700,ts312044,Beyblade Burst Surge,SHOW,NaN,2020,TV-Y,23,['animation'],['JP'],1.0,tt18554728,8.3,30.0,7.501,9.700
1513,tm239769,I'll Sleep When I'm Dead,MOVIE,An energetic and fast-paced bio-doc that exami...,2016,NaN,82,['documentation'],['US'],NaN,tt4679136,6.6,1364.0,3.096,6.500
4191,ts233367,Sing On! Spain,SHOW,"Six people compete for a 30,000 euro reward by...",2020,TV-G,39,"['music', 'reality']",['ES'],1.0,tt11698668,6.1,133.0,1.795,8.500
5009,tm993670,Cosmic Sin,MOVIE,"In the year 2524, four centuries after humans ...",2021,R,88,"['action', 'scifi']",['US'],NaN,tt11762434,2.5,12517.0,98.432,4.200
1243,tm244788,13th,MOVIE,An in-depth look at the prison system in the U...,2016,NaN,100,"['documentation', 'history', 'crime']",['US'],NaN,tt5895028,8.2,35302.0,8.675,8.000
5202,ts258415,Elves,SHOW,A Christmas vacation turns into a nightmare fo...,2021,TV-14,24,"['thriller', 'family', 'drama', 'fantasy', 'ho...",['DK'],1.0,tt13231962,5.5,4165.0,45.710,7.000
4596,ts223115,The Charming Stepmom,SHOW,A quirky fashion student becomes the nanny of ...,2019,TV-14,46,"['family', 'romance', 'comedy']",['TH'],1.0,tt13846404,7.9,18.0,5.114,10.000
854,tm148147,Big Eyes,MOVIE,"In the late 1950s and early '60s, artist Walte...",2014,PG-13,106,"['drama', 'documentation', 'romance', 'crime']","['CA', 'US']",NaN,tt1126590,7.2,51.0,11.980,6.998
5449,ts270807,"Hello, Me!",SHOW,"Miserable and unsuccessful, a woman thinks she...",2021,NaN,62,"['comedy', 'drama', 'scifi', 'fantasy', 'roman...",['KR'],1.0,tt13670090,7.2,582.0,8.511,7.500
1368,tm229140,Anthony Jeselnik: Thoughts and Prayers,MOVIE,There's no subject too dark as the comedian sk...,2015,NaN,59,['comedy'],['US'],NaN,NaN,NaN,NaN,4.566,7.400
4233,ts235689,J-Style Trip,SHOW,Megastar Jay Chou joins his A-list friends in ...,2020,TV-14,64,['reality'],"['TW', 'CN']",1.0,tt11942052,5.0,114.0,1.879,7.500
3406,ts219561,"The Mind, Explained",SHOW,Ever wonder what's happening inside your head?...,2019,TV-14,22,['documentation'],['US'],2.0,tt10810430,8.0,5312.0,9.751,7.800
3819,ts314647,Patton Oswalt: I Love Everything,SHOW,Turning 50. Finding love again. Buying a house...,2020,NaN,60,[],[],1.0,NaN,NaN,NaN,NaN,NaN
314,tm173066,The Interpreter,MOVIE,"After Silvia Broome, an interpreter at United ...",2005,PG-13,128,"['thriller', 'crime', 'european']","['GB', 'US', 'FR', 'DE']",NaN,tt0373926,6.4,106781.0,12.694,6.299
513,tm54147,Dostana,MOVIE,Two straight guys who pretend to be a gay coup...,2008,PG-13,142,"['drama', 'romance', 'comedy']","['IN', 'US']",NaN,tt1185420,6.5,15063.0,8.613,6.200
371,ts21688,Boys Over Flowers,SHOW,A working class girl winds up at an exclusive ...,2009,TV-14,64,"['comedy', 'drama', 'romance']",['KR'],1.0,tt1370334,7.9,11902.0,80.384,8.280
4554,tm842869,Fadily Camara: La plus drôle de tes copines,MOVIE,Irrepressible French comedian Fadily Camara we...,2019,NaN,54,['comedy'],['FR'],NaN,tt11168150,5.7,50.0,2.200,6.300
741,tm176128,Don't Go Breaking My Heart,MOVIE,"An original twist on an eternal triangle, wher...",2011,NaN,115,"['romance', 'comedy']",['HK'],NaN,tt1776143,6.5,1803.0,3.662,6.600

`titles`表`genres`列和`production_countries`列需要分列并匹配到行中

In [5]:
titles["genres"][1]

"['drama', 'crime']"

In [6]:
titles["production_countries"][1]

"['US']"

检索出`genres`列和`production_countries`列的单元格可知元素类型不是单纯的列表，本质是字符串，所以需要将字符串转换为列表

首先对`titles`表和`credits`表进行备份

In [7]:
titles_clean = titles.copy()
credits_clean = credits.copy()

将`genres`列和`production_countries`列的数据进行转换，使用eval函数

In [8]:
titles_clean["genres"] = titles_clean["genres"].apply(lambda x:eval(x))

In [9]:
titles_clean["genres"][1]

['drama', 'crime']

In [10]:
titles_clean["production_countries"] = titles_clean["production_countries"].apply(lambda x:eval(x))

In [11]:
titles_clean["production_countries"][1]

['US']

接下来将`genres`列和`production_countries`列的列表数据转为行

In [12]:
titles_clean = titles_clean.explode("genres")

In [13]:
titles_clean = titles_clean.explode("production_countries")

In [14]:
titles_clean.head(20)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,documentation,US,1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,drama,US,NaN,tt0075314,8.2,808582.0,40.965,8.179
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,crime,US,NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,drama,US,NaN,tt0068473,7.7,107673.0,10.010,7.300
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,action,US,NaN,tt0068473,7.7,107673.0,10.010,7.300
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,thriller,US,NaN,tt0068473,7.7,107673.0,10.010,7.300
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,european,US,NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,fantasy,GB,NaN,tt0071853,8.2,534486.0,15.461,7.811
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,action,GB,NaN,tt0071853,8.2,534486.0,15.461,7.811
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,comedy,GB,NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,war,GB,NaN,tt0061578,7.7,72662.0,20.398,7.600
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,war,US,NaN,tt0061578,7.7,72662.0,20.398,7.600
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,action,GB,NaN,tt0061578,7.7,72662.0,20.398,7.600
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,action,US,NaN,tt0061578,7.7,72662.0,20.398,7.600
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,comedy,GB,4.0,tt0063929,8.8,73424.0,17.617,8.306
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,european,GB,4.0,tt0063929,8.8,73424.0,17.617,8.306
6,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,comedy,GB,NaN,tt0079470,8.0,395024.0,17.770,7.800
7,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,thriller,US,NaN,tt0066999,7.7,155051.0,12.817,7.500
7,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,action,US,NaN,tt0066999,7.7,155051.0,12.817,7.500
7,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,crime,US,NaN,tt0066999,7.7,155051.0,12.817,7.500

**二、内容调整**

1.检查`titles_clean`表内容

In [15]:
titles_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17818 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    17818 non-null  object
 1   title                 17817 non-null  object
 2   type                  17818 non-null  object
 3   description           17790 non-null  object
 4   release_year          17818 non-null  int64
 5   age_certification     10889 non-null  object
 6   runtime               17818 non-null  int64
 7   genres                17755 non-null  object
 8   production_countries  17439 non-null  object
 9   seasons               6224 non-null   float64
 10  imdb_id               17116 non-null  object
 11  imdb_score            16976 non-null  float64
 12  imdb_votes            16945 non-null  float64
 13  tmdb_popularity       17663 non-null  float64
 14  tmdb_score            17241 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 2.2+ MB

`titles_clean`表数据类型问题概况：  
1.空缺值：除了`id` `type` `release_year` `runtime` 列以外的其他列均有空缺值，其中`genres`列为关键数据，可以将空值替换为“other”  
2.数据类型调整：`release_year`列的数据类型应是日期时间，`runtime`列的数据类型应是时间

调整`titles_clean`表的内容

In [16]:
titles_clean["genres"] = titles_clean["genres"].fillna("other")

将`release_year`列的数据类型改为日期时间

In [18]:
titles_clean["release_year"] = pd.to_datetime(titles_clean["release_year"], format="%Y")
titles_clean["release_year"]

0      1945-01-01
1      1976-01-01
1      1976-01-01
2      1972-01-01
2      1972-01-01
          ...
5847   2021-01-01
5848   2021-01-01
5849   2021-01-01
5849   2021-01-01
5849   2021-01-01
Name: release_year, Length: 17818, dtype: datetime64[ns]

将`runtime`列的数据类型改为时间

In [20]:
titles_clean['runtime'] = pd.to_timedelta(titles_clean['runtime'], unit='m').dt.total_seconds() // 60
titles_clean['runtime']

0        51.0
1       114.0
1       114.0
2       109.0
2       109.0
        ...
5847     90.0
5848     37.0
5849      7.0
5849      7.0
5849      7.0
Name: runtime, Length: 17818, dtype: float64

查看`titles_clean`表的数值是否有异常

In [21]:
titles_clean.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,17818,17818.000000,6224.000000,16976.000000,1.694500e+04,17663.000000,17241.000000
mean,2015-12-14 23:26:22.803906048,79.944326,2.408580,6.514467,3.280916e+04,28.787751,6.847247
min,1945-01-01 00:00:00,0.000000,1.000000,1.500000,5.000000e+00,0.009442,0.500000
25%,2015-01-01 00:00:00,45.000000,1.000000,5.800000,7.800000e+02,3.874000,6.200000
50%,2018-01-01 00:00:00,90.000000,1.000000,6.600000,3.508000e+03,9.885000,6.900000
75%,2020-01-01 00:00:00,107.000000,3.000000,7.300000,1.697600e+04,23.051000,7.500000
max,2022-01-01 00:00:00,240.000000,42.000000,9.600000,2.294231e+06,2274.044000,10.000000
std,NaN,39.855654,2.829108,1.131246,1.141368e+05,91.691457,1.096069

`titles_clean`表的数值无异常

2.检查`credits_clean`表内容

In [22]:
credits_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  77801 non-null  int64
 1   id         77801 non-null  object
 2   name       77801 non-null  object
 3   character  68029 non-null  object
 4   role       77801 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.0+ MB

`credits_clean`表数据类型问题概况：  
1.空缺值：`character`列有空缺值，角色姓名列不是关键数据空缺值不处理  
2.数据类型调整：`person_id`列应该是字符串

`person_id`列改为字符串

In [23]:
credits_clean["person_id"] = credits_clean["person_id"].astype(str)
credits_clean["person_id"]

0           3748
1          14658
2           7064
3           3739
4          48933
          ...
77796     736339
77797     399499
77798     373198
77799     378132
77800    1950416
Name: person_id, Length: 77801, dtype: object

重复数据筛选

In [27]:
credits_clean.duplicated().sum()

0

In [28]:
titles_clean.duplicated().sum()

0

无重复数据

筛选`genres`列和`production_countries`列是否有不一致数据

In [29]:
titles_clean["genres"].value_counts()

genres
drama            3517
comedy           2538
thriller         1505
action           1394
romance          1098
crime            1093
documentation    1085
animation         816
family            803
fantasy           738
european          699
scifi             676
horror            451
history           336
music             289
reality           241
war               232
sport             188
other              63
western            56
Name: count, dtype: int64

In [32]:
pd.set_option("display.max_rows",200)
titles_clean["production_countries"].value_counts()

production_countries
US         5904
IN         1662
GB         1107
JP         1099
FR          741
KR          684
ES          660
CA          641
DE          397
CN          308
MX          278
IT          231
BR          225
AU          220
TR          198
PH          197
ID          156
AR          156
BE          155
NG          147
TW          144
PL          133
ZA          110
NL          109
HK          106
EG          104
CO           99
TH           95
DK           93
SE           81
LB           78
NO           71
SG           56
AE           54
IE           51
XX           45
PS           42
IL           42
RU           41
CL           36
BG           36
MY           35
SA           34
CH           34
AT           32
IS           29
LU           27
NZ           27
PE           27
CZ           26
QA           26
RO           25
HU           19
JO           19
FI           18
UY           15
MA           15
PT           14
KW           13
KH           10
VN           10
PR            9
PK            9
TN            8
UA            8
MT            8
LT            7
CD            7
KE            7
IR            7
SU            7
AL            6
SN            6
GH            6
SY            6
CY            5
GR            5
MU            5
IO            5
IQ            5
KN            4
TZ            4
MC            4
HR            3
AF            3
GL            3
BS            3
PY            3
CM            3
BD            3
DZ            3
AO            3
BT            2
MW            2
BF            2
KG            2
ZW            2
RS            2
VA            2
GE            2
BY            2
VE            2
NP            1
LK            1
CU            1
GT            1
NA            1
Lebanon       1
FO            1
Name: count, dtype: int64

`production_countries`列的Lebanon格式跟其他的国家不一样，要替换成LBN

In [33]:
titles_clean["production_countries"] = titles_clean["production_countries"].replace("Lebanon","LBN")
titles_clean["production_countries"].value_counts()

production_countries
US     5904
IN     1662
GB     1107
JP     1099
FR      741
KR      684
ES      660
CA      641
DE      397
CN      308
MX      278
IT      231
BR      225
AU      220
TR      198
PH      197
ID      156
AR      156
BE      155
NG      147
TW      144
PL      133
ZA      110
NL      109
HK      106
EG      104
CO       99
TH       95
DK       93
SE       81
LB       78
NO       71
SG       56
AE       54
IE       51
XX       45
PS       42
IL       42
RU       41
CL       36
BG       36
MY       35
SA       34
CH       34
AT       32
IS       29
LU       27
NZ       27
PE       27
CZ       26
QA       26
RO       25
HU       19
JO       19
FI       18
UY       15
MA       15
PT       14
KW       13
KH       10
VN       10
PR        9
PK        9
TN        8
UA        8
MT        8
LT        7
CD        7
KE        7
IR        7
SU        7
AL        6
SN        6
GH        6
SY        6
CY        5
GR        5
MU        5
IO        5
IQ        5
KN        4
TZ        4
MC        4
HR        3
AF        3
GL        3
BS        3
PY        3
CM        3
BD        3
DZ        3
AO        3
BT        2
MW        2
BF        2
KG        2
ZW        2
RS        2
VA        2
GE        2
BY        2
VE        2
NP        1
LK        1
CU        1
GT        1
NA        1
LBN       1
FO        1
Name: count, dtype: int64

**三、合并数据**

In [34]:
Netflix_show_data = pd.merge(titles_clean,credits_clean,on ="id" )
Netflix_show_data.sample(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
241169,ts255888,First Kill,SHOW,Falling in love is tricky for teens Juliette a...,2022-01-01,TV-MA,49.0,thriller,US,1.0,tt13315156,6.4,23605.0,252.955,8.400,171099,Jason R. Moore,Jack Burns,ACTOR
54186,tm36237,Contraband,MOVIE,When his brother-in-law runs afoul of a drug l...,2012-01-01,R,109.0,crime,US,NaN,tt1524137,6.4,122383.0,46.410,6.300,608879,Turner Crumbley,Laird,ACTOR
53205,ts20429,Sword Art Online,SHOW,"In the near future, a Virtual Reality Massive ...",2012-01-01,TV-MA,23.0,animation,JP,4.0,tt2250192,7.6,44606.0,58.325,8.284,60138,Hiroaki Hirata,Klein (voice),ACTOR
145916,tm359713,El Camino Christmas,MOVIE,"A young man seeking a father he has never met,...",2017-01-01,NaN,89.0,crime,US,NaN,tt3255590,5.7,8830.0,8.462,5.600,785478,Darrell Keith Harris,Black Cowboy at gates,ACTOR
98382,tm235405,Hyena Road,MOVIE,"Three different men, three different worlds, t...",2015-01-01,R,120.0,action,CA,NaN,tt4034452,6.5,7839.0,9.363,6.700,1891,Clark Johnson,General Rilmen,ACTOR
23908,tm20959,The Pursuit of Happyness,MOVIE,A struggling salesman takes custody of his son...,2006-01-01,PG-13,117.0,european,US,NaN,tt0454921,8.0,501457.0,47.893,7.900,95791,Mike Garibaldi,Paul,ACTOR
118775,tm233482,The Foreigner,MOVIE,Quan is a humble London businessman whose long...,2017-01-01,R,113.0,thriller,IN,NaN,tt1615160,7.0,113338.0,32.050,6.800,694930,Mike Ray,Businessman,ACTOR
207166,tm848995,Jingle Jangle: A Christmas Journey,MOVIE,An imaginary world comes to life in a holiday ...,2020-01-01,PG,122.0,music,US,NaN,tt7736496,6.4,18374.0,28.329,6.650,1629063,Kenyah Sandy,Grandson,ACTOR
6248,tm27395,Mission: Impossible II,MOVIE,With computer genius Luther Stickell at his si...,2000-01-01,PG-13,123.0,thriller,US,NaN,tt0120755,6.1,337987.0,29.392,6.100,856785,Antonio Vargas,Senor De L'Arena,ACTOR
75366,tm174289,Free Birds,MOVIE,Two turkeys from opposite sides of the tracks ...,2013-01-01,PG,91.0,animation,US,NaN,tt1621039,5.8,24140.0,17.211,5.900,5198,Keith David,Chief Broadbeak (Voice),ACTOR

In [35]:
Netflix_show_data["production_countries"].value_counts()

production_countries
US     108977
GB      22013
IN      21640
JP      14802
FR      12068
CA      10899
ES      10152
KR       9706
DE       7805
CN       5101
IT       3807
PH       3350
MX       3055
AU       3017
BE       2936
TR       2851
ID       2676
BR       2451
PL       2264
HK       2003
NL       1969
AR       1951
ZA       1632
TH       1474
TW       1450
NG       1434
EG       1337
DK       1283
SE       1254
NO        964
AE        925
BG        923
IE        869
CH        840
CO        733
CZ        683
LB        677
RU        598
CL        556
IL        512
IS        492
SG        491
RO        469
NZ        460
HU        397
MY        390
LU        370
AT        369
PE        310
SA        288
XX        281
PS        278
JO        263
MT        248
PT        239
QA        232
IR        223
MA        219
PR        217
MC        212
FI        205
UY        199
BS        171
GR        161
KH        142
PK        128
AL        110
GH         99
TN         98
VN         89
CY         85
KN         84
UA         78
SU         77
IQ         71
SN         66
RS         62
KE         57
KW         51
MU         50
AO         48
BD         45
MW         44
PY         42
BF         40
CD         37
BT         36
DZ         36
VA         36
HR         36
LT         35
CM         31
IO         24
ZW         22
GL         21
TZ         20
VE         16
LBN        15
KG         12
SY         11
AF         10
LK          9
NA          8
CU          7
NP          5
GE          5
FO          5
GT          2
Name: count, dtype: int64

**四、分析数据**

只分析演员，所以首先要筛选出演员的观察值

In [53]:
Netflix_show_ACTOR_data = Netflix_show_data.query("role == 'ACTOR'")

需要对`genres`列进行分组计算`imdb_score`的平均分

In [54]:
genres_meandata = pd.pivot_table(Netflix_show_data,index = ["genres","person_id"],values = "imdb_score",aggfunc = np.mean)

C:\Users\QXY\AppData\Local\Temp\ipykernel_16232\1059166861.py:1: FutureWarning: The provided callable <function mean at 0x00000298A953AF20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  genres_meandata = pd.pivot_table(Netflix_show_data,index = ["genres","person_id"],values = "imdb_score",aggfunc = np.mean)

找到每个`genres`分组中`imdb_score' 最高的行的索引

In [56]:
genres_meandata_clean = genres_meandata.reset_index()
genres_meandata_clean

         genres person_id  imdb_score
0        action      1000    6.866667
1        action    100007    7.000000
2        action    100013    6.400000
3        action    100019    6.500000
4        action    100020    6.500000
...         ...       ...         ...
177319  western    993735    6.500000
177320  western    998673    7.300000
177321  western    998674    7.300000
177322  western    998675    7.300000
177323  western     99940    4.000000

[177324 rows x 3 columns]

In [58]:
genres_meandata_clean_max = genres_meandata_clean.groupby("genres")["imdb_score"].max()
genres_meandata_clean_max

genres
action           9.3
animation        9.3
comedy           9.2
crime            9.5
documentation    9.1
drama            9.5
european         8.9
family           9.3
fantasy          9.3
history          9.1
horror           9.0
music            8.8
other            7.8
reality          8.9
romance          9.2
scifi            9.3
sport            9.1
thriller         9.5
war              8.8
western          8.9
Name: imdb_score, dtype: float64

In [59]:
genres_meandata_clean_max = pd.merge(genres_meandata_clean,genres_meandata_clean_max,on =["genres","imdb_score"] )
genres_meandata_clean_max

            genres person_id  imdb_score
0           action     12790         9.3
1           action      1303         9.3
2           action     21033         9.3
3           action    336830         9.3
4           action     86591         9.3
5        animation      1303         9.3
6        animation     21033         9.3
7        animation     28024         9.3
8        animation    336830         9.3
9        animation     86591         9.3
10          comedy    101292         9.2
11          comedy    103374         9.2
12          comedy   1296454         9.2
13          comedy    140194         9.2
14          comedy    140196         9.2
15          comedy     38441         9.2
16          comedy     44199         9.2
17          comedy     71076         9.2
18          comedy    747462         9.2
19           crime     20552         9.5
20           crime     37752         9.5
21           crime     85485         9.5
22   documentation    195528         9.1
23   documentation     22385         9.1
24   documentation     36303         9.1
25   documentation    408553         9.1
26   documentation    439923         9.1
27   documentation    479703         9.1
28           drama     20552         9.5
29           drama     37752         9.5
30        european    107375         8.9
31        european    107380         8.9
32        european    170376         8.9
33        european    317847         8.9
34        european    727786         8.9
35        european    727787         8.9
36        european     86802         8.9
37          family      1303         9.3
38          family     21033         9.3
39          family     28024         9.3
40          family    336830         9.3
41          family     86591         9.3
42         fantasy      1303         9.3
43         fantasy     21033         9.3
44         fantasy     28024         9.3
45         fantasy    336830         9.3
46         fantasy     86591         9.3
47         history    195528         9.1
48         history     22385         9.1
49         history     36303         9.1
50         history    408553         9.1
51         history    439923         9.1
52         history    479703         9.1
53          horror       140         9.0
54          horror     39331         9.0
55          horror    453970         9.0
56          horror     86694         9.0
57           music   1033815         8.8
58           music   1284975         8.8
59           music    129032         8.8
60           music     14204         8.8
61           music   1625708         8.8
62           music      1640         8.8
63           music      1641         8.8
64           music      1652         8.8
65           music     16641         8.8
66           music      1710         8.8
67           music      1725         8.8
68           music   1789502         8.8
69           music      2150         8.8
70           music   2269290         8.8
71           music    231310         8.8
72           music      2740         8.8
73           music     27692         8.8
74           music      2806         8.8
75           music    294917         8.8
76           music      3010         8.8
77           music      3011         8.8
78           music      3012         8.8
79           music      3013         8.8
80           music      3014         8.8
81           music      3015         8.8
82           music      3016         8.8
83           music    301776         8.8
84           music    351504         8.8
85           music    351505         8.8
86           music    351506         8.8
87           music    351507         8.8
88           music    351508         8.8
89           music    392464         8.8
90           music     46263         8.8
91           music      4726         8.8
92           music     52379         8.8
93           music      5811         8.8
94           music     77040         8.8
95           music     77136         8.8
96           music     77469         8.8
97           music     82056         8.8
98           music     84050         8.8
99           music     85756         8.8
100          music     91220         8.8
101          music    984016         8.8
102          music    984017         8.8
103          music    984023         8.8
104          other     93038         7.8
105        reality   1099510         8.9
106        reality       614         8.9
107        reality    843741         8.9
108        reality    958249         8.9
109        romance    101292         9.2
110        romance    103374         9.2
111        romance    103760         9.2
112        romance   1296454         9.2
113        romance    140194         9.2
114        romance    140195         9.2
115        romance    140196         9.2
116        romance     44199         9.2
117        romance     71076         9.2
118        romance    728308         9.2
119        romance    747462         9.2
120          scifi     12790         9.3
121          scifi      1303         9.3
122          scifi     21033         9.3
123          scifi     28024         9.3
124          scifi    336830         9.3
125          scifi     86591         9.3
126          sport    195528         9.1
127          sport     22385         9.1
128          sport     36303         9.1
129          sport    408553         9.1
130          sport    439923         9.1
131          sport    479703         9.1
132       thriller     13233         9.5
133       thriller     20552         9.5
134       thriller     37752         9.5
135            war    140181         8.8
136            war     47019         8.8
137            war    826547         8.8
138        western     22311         8.9
139        western     28166         8.9
140        western     28180         8.9
141        western     93017         8.9

到这里筛选出了各流派平均分最高的演员id，有很多是并列的最高

然后需要把演员id跟演员名称匹配上，因为只需要名称列，所以先把`Netflix_show_data`表里的`name`和`person_id`列提取出来，并删除重复列

In [64]:
name_person_id = Netflix_show_data[["name","person_id"]].drop_duplicates()
name_person_id

                      name person_id
0           Robert De Niro      3748
1             Jodie Foster     14658
2            Albert Brooks      7064
3            Harvey Keitel      3739
4          Cybill Shepherd     48933
...                    ...       ...
284180    Adelaida Buscato    736339
284181  Luz Stella Luengas    399499
284182         Inés Prieto    373198
284183        Isabel Gaona    378132
284184      Julian Gaviria   1950416

[54589 rows x 2 columns]

然后把`name_person_id` `genres_meandata_clean_max` 根据`person_id`合并

In [66]:
genres_imdbscore_max_actor = pd.merge(genres_meandata_clean_max,name_person_id,on ="person_id" )
genres_imdbscore_max_actor

            genres person_id  imdb_score                  name
0           action     12790         9.3           Olivia Hack
1           action      1303         9.3         Jessie Flower
2           action     21033         9.3            Zach Tyler
3           action    336830         9.3       André Sogliuzzo
4           action     86591         9.3         Cricket Leigh
5        animation      1303         9.3         Jessie Flower
6        animation     21033         9.3            Zach Tyler
7        animation     28024         9.3           Dante Basco
8        animation    336830         9.3       André Sogliuzzo
9        animation     86591         9.3         Cricket Leigh
10          comedy    101292         9.2         Ryu Hye-young
11          comedy    103374         9.2            Lee Hye-ri
12          comedy   1296454         9.2          Lee Se-young
13          comedy    140194         9.2          Ryu Jun-yeol
14          comedy    140196         9.2          Ahn Jae-hong
15          comedy     38441         9.2           Park Bo-gum
16          comedy     44199         9.2         Kim Sung-kyun
17          comedy     71076         9.2             Ra Mi-ran
18          comedy    747462         9.2              Kim Seol
19           crime     20552         9.5          Betsy Brandt
20           crime     37752         9.5             Anna Gunn
21           crime     85485         9.5              RJ Mitte
22   documentation    195528         9.1           Jason Hehir
23   documentation     22385         9.1        Michael Jordan
24   documentation     36303         9.1         Dennis Rodman
25   documentation    408553         9.1          Phil Jackson
26   documentation    439923         9.1            Steve Kerr
27   documentation    479703         9.1        Scottie Pippen
28           drama     20552         9.5          Betsy Brandt
29           drama     37752         9.5             Anna Gunn
30        european    107375         8.9         Sanjeev Kohli
31        european    107380         8.9              Mark Cox
32        european    170376         8.9         Greg Hemphill
33        european    317847         8.9        Gavin Mitchell
34        european    727786         8.9          Jane McCarry
35        european    727787         8.9            Paul Riley
36        european     86802         8.9          Ford Kiernan
37          family      1303         9.3         Jessie Flower
38          family     21033         9.3            Zach Tyler
39          family     28024         9.3           Dante Basco
40          family    336830         9.3       André Sogliuzzo
41          family     86591         9.3         Cricket Leigh
42         fantasy      1303         9.3         Jessie Flower
43         fantasy     21033         9.3            Zach Tyler
44         fantasy     28024         9.3           Dante Basco
45         fantasy    336830         9.3       André Sogliuzzo
46         fantasy     86591         9.3         Cricket Leigh
47         history    195528         9.1           Jason Hehir
48         history     22385         9.1        Michael Jordan
49         history     36303         9.1         Dennis Rodman
50         history    408553         9.1          Phil Jackson
51         history    439923         9.1            Steve Kerr
52         history    479703         9.1        Scottie Pippen
53          horror       140         9.0          Ayane Sakura
54          horror     39331         9.0          Marina Inoue
55          horror    453970         9.0        Kisho Taniyama
56          horror     86694         9.0          Yui Ishikawa
57           music   1033815         8.8             Adam Cole
58           music   1284975         8.8         Lisa Reynolds
59           music    129032         8.8        Virgile Bramly
60           music     14204         8.8        Nicole Pulliam
61           music   1625708         8.8      Mark Fleischmann
62           music      1640         8.8             Tom Hardy
63           music      1641         8.8     Leonardo DiCaprio
64           music      1652         8.8            Lukas Haas
65           music     16641         8.8          Taylor Geare
66           music      1710         8.8             Russ Fega
67           music      1725         8.8     Christopher Nolan
68           music   1789502         8.8         Jill Maddrell
69           music      2150         8.8         Talulah Riley
70           music   2269290         8.8     Daniel Girondeaud
71           music    231310         8.8      Natasha Beaumont
72           music      2740         8.8        Michael Gaston
73           music     27692         8.8          Alex Lombard
74           music      2806         8.8           Elliot Page
75           music    294917         8.8          Marc Raducci
76           music      3010         8.8  Joseph Gordon-Levitt
77           music      3011         8.8          Ken Watanabe
78           music      3012         8.8        Cillian Murphy
79           music      3013         8.8            Dileep Rao
80           music      3014         8.8      Marion Cotillard
81           music      3015         8.8          Tom Berenger
82           music      3016         8.8    Pete Postlethwaite
83           music    301776         8.8        Shannon Welles
84           music    351504         8.8       Johnathan Geare
85           music    351505         8.8          Ryan Hayward
86           music    351506         8.8      Coralie Dedykere
87           music    351507         8.8         Nicolas Clerc
88           music    351508         8.8    Jean-Michel Dagory
89           music    392464         8.8           Felix Scott
90           music     46263         8.8          Yuji Okumoto
91           music      4726         8.8          Tim Kelleher
92           music     52379         8.8          Claire Geare
93           music      5811         8.8        Andrew Pleavin
94           music     77040         8.8         Miranda Nolan
95           music     77136         8.8       Tohoru Masamune
96           music     77469         8.8          Peter Basham
97           music     82056         8.8         Carl Gilliard
98           music     84050         8.8          Earl Cameron
99           music     85756         8.8           Jack Murray
100          music     91220         8.8         Silvie Laguna
101          music    984016         8.8            Tai-Li Lee
102          music    984017         8.8          Magnus Nolan
103          music    984023         8.8       Helena Cullinan
104          other     93038         7.8       David Letterman
105        reality   1099510         8.9        Niklas Ekstedt
106        reality       614         8.9     Heston Blumenthal
107        reality    843741         8.9           Jayde Adams
108        reality    958249         8.9            Carla Hall
109        romance    101292         9.2         Ryu Hye-young
110        romance    103374         9.2            Lee Hye-ri
111        romance    103760         9.2          Sung Dong-il
112        romance   1296454         9.2          Lee Se-young
113        romance    140194         9.2          Ryu Jun-yeol
114        romance    140195         9.2          Lee Dong-hwi
115        romance    140196         9.2          Ahn Jae-hong
116        romance     44199         9.2         Kim Sung-kyun
117        romance     71076         9.2             Ra Mi-ran
118        romance    728308         9.2           Shin Won-ho
119        romance    747462         9.2              Kim Seol
120          scifi     12790         9.3           Olivia Hack
121          scifi      1303         9.3         Jessie Flower
122          scifi     21033         9.3            Zach Tyler
123          scifi     28024         9.3           Dante Basco
124          scifi    336830         9.3       André Sogliuzzo
125          scifi     86591         9.3         Cricket Leigh
126          sport    195528         9.1           Jason Hehir
127          sport     22385         9.1        Michael Jordan
128          sport     36303         9.1         Dennis Rodman
129          sport    408553         9.1          Phil Jackson
130          sport    439923         9.1            Steve Kerr
131          sport    479703         9.1        Scottie Pippen
132       thriller     13233         9.5          Bob Odenkirk
133       thriller     20552         9.5          Betsy Brandt
134       thriller     37752         9.5             Anna Gunn
135            war    140181         8.8          Naoya Uchida
136            war     47019         8.8            Kensho Ono
137            war    826547         8.8           Yuto Uemura
138        western     22311         8.9       Koichi Yamadera
139        western     28166         8.9    Megumi Hayashibara
140        western     28180         8.9        Unsho Ishizuka
141        western     93017         8.9              Aoi Tada